
.header{
    background-color: #000000e7;
    min-height: auto;
    height: 80px;
    /* min-height: 80px;
    height: calc(300px - 15vw); */
    border-bottom: 10px solid #00a0a0d8;
}
.entry{
    /*border: 3px solid black;*/
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
}

.entry__content{
    max-width: 800px;
    margin: 0 auto;
    padding: 1px 30px;
    font-size: 16px;
}
.entry__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    color: #3c72ef;
    color: #284c9f;
    /* display: flex; */
}
.entry__main-figure{
    margin: 60px 0;
}
.entry__main-img{
    width: 100%;
}

.entry__p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 390;
    color: black;
    text-align: left;
    line-height: 30px;
}
.space{
    height: 35px;
    width: 100%;
}
.entry__details{
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
}
.entry__small-date{
    color: #8092b2;
}
.entry__tags{
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    color: #8092b2;
}

.back-next-entries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.back-next-entry{
    display: flex;
    justify-content: space-between;
    /*width: 40%;*/
    /* max-width: 40%; */
    max-width: 320px;
}
.back-next-entries__changer{
    font-weight: 500;
    color: #3c72ef83;
    transform: scaley(5);
    margin: auto 10px;
}
.back-next-entries__link{
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 1.1em;
    color: #3c72efa4;
    margin: auto 5px;
}
.back-next-entries__link span{
    font-size: 0.8em;
    color: rgb(138, 138, 138);
}
.back-next-entries__link:hover{
    text-decoration: none;
    color: #c68712;
    text-decoration: underline;
}

/* start: Social are*/

.social-area{
    margin-top: 30px;
}
.social__titles{
    color: #00a0a0;
    color: #c68712;
    color: #4f3607;
    color: #77510b;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}
.linkedin-share{
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.linkedin-share:hover{
    transform: scale(1.1);
}
.likes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .comments{
    min-height: 400px;
} */

/* end: Social area*/ 

.no-display{
    display: none;
}





/************ media queries *********/

@media screen and (max-width: 1023px){
    .header{
        height: 105px;
    }

    .entry__content{
        max-width: 80vw;
    }
}

/* @media screen and (max-width: 768px){ */
@media screen and (max-width: 767px){
    .face-pages{
        overflow: scroll;
    }
    .face-pages__iframe{/* 
        max-width: 88vw; */
    }
    .back-next-pentry{
        margin: -15px 0;
    }
    .back-next-entry{
        margin: 15px 0;
    }
    .back-next-entry:last-child{
        margin-left: auto;
    }

}


/* @media screen and (max-width: 480px){} */
@media screen and (max-width: 480px){
    .header{
        height: 180px;
    }

    .studies{
        padding-top: 15px;
    }

    .entry__content{
        max-width: 100vw;
        padding: 0 8vw;
        font-size: 14px;
    }
    .entry__main-figure{
        margin: 8vw 0;
    }
    .entry__title{
        font-size: 1.6em;
    }
    .entry__p{
        line-height: 23px;
    }
    
}

/* @media screen and (max-width: 320px){} */
@media screen and (max-width: 320px){
    .entry__content{
        font-size: 13px;
    }
    .entry__title{
        font-size: 1.5em;
    }
}