/*@font-face {
    font-family: Kanit;
    src: url('../fonts/Kanit-Light.ttf');
}
*/

/*
fonts{
    font-family: 'Oxanium', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
los utilizados{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

*/

html{
    /* hace un desplazamiento suave */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: white;
    /*box-sizing: content-box;*/
}


.nav{
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    /*font-family: 'Oxanium', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    z-index: 20;

    /*margin-bottom: -70px;*/
}
.nav__ul{
    min-width: 600px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    height: inherit;
}
.nav__li{
    list-style: none;
    height: inherit;
}
.nav__img{
    height: 80px;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.nav__img:hover{
    height: 80px;
    transform: scale(1.1);
    transition: transform 0.5s ease 0s;
}


.nav__a{
    text-decoration: none;
    color: white;
    background-color: rgba(70, 70, 70, 0.0);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.5s ease 0s;

    height: inherit;
}
.nav__a:hover{
    color: white;
    background-color: rgba(70, 70, 70, 0.8);
    /* property   duration   timing-function   delay*/
    transition: background-color 0.5s ease 0s;
    /*   keyframe-name time  mode*/
    transform: scale(1.2);
    animation: mykey 0.3s ease;
}
@keyframes mykey{
    0% {transform: scale(1);}
    40%{transform: scale(0.95);}
    100%{transform: scale(1.2);}
}

.header{
    background-color: rgba(0, 0, 0, 0.75);
    height: 600px;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    border-bottom: 10px solid rgba(0, 139, 139, 0.849);
}
.header__figure{
    margin: 0;
    position: absolute;
    z-index: -10;
    width: 100%;    
}
.header__img{
    width: inherit;
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.header__hero{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*background-color: rgba(155, 25, 30, 0.5);*/
}

.container{
    /*width: 1000px;*/
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero__h1{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.hero__p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.hero__strong{
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s ease 0s;
    
}
.hero__strong:hover{
    color: rgba(0, 192, 192, 0.849);
    transition: color 0.3s ease 0s;
}

.hero__button{
    background-color: rgba(0, 0, 0, 0.75);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: white;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.hero__button:hover{
    background-color: rgba(0, 139, 139, 0.849);
    transform: scale(1.1);
    transition: transform 0.3s ease 0s;
}

/*--------------------------------------------------------------*/

.portfolio{
    width: 100%;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.portfolio__area{
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio__h2{
    color: #008b8b;
    
    font-weight: 600;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.project{
    height: 400px;
    margin-top: 30px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;


    background-color: rgb(184, 184, 184);
}
.project__details{
    width: 50%;
    margin: 30px 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.project__photo{
    width: 50%;
    height: inherit;
    background-color: lightgreen;
}


.container{
    /*background-color: rgba(172, 255, 47, 0.137);

*/}




.pruebalargo{
height: 1200px;
}









/*
colores usados:
rgba(0, 192, 192, 0.849)
rgba(0, 139, 139, 0.849)
*/