/*@font-face {
    font-family: Kanit;
    src: url('../fonts/Kanit-Light.ttf');
}
*/

/*
fonts{
    font-family: 'Oxanium', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
los utilizados{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

*/

html{
    /* hace un desplazamiento suave */
    scroll-behavior: smooth;
}

body{
    background-color: #f4f4f4;
    margin: 0;
    color: white;
    /*box-sizing: border-box;*/
}
body::-webkit-scrollbar {
    background-color: #d8d8d8;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #007979;
    border: 1px solid #ffffff;
    border-radius: 25px;
}
  
body::-webkit-scrollbar-track {
    background-color: #d6d6d6;
    border-radius: 25px;
}
  
body::-webkit-scrollbar-track:hover {
    background-color: #dadada;
    border-radius: 5px;
}

p{
    font-family: 'Work Sans', sans-serif;
}
figure{
    margin: 0;
}
h4,
h5{
    margin: 0;
}

/* Estilos Comparidos*/
.portfolio__h2,
.about-me__h2,
.studies__h2{
    font-weight: 600;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}




.nav{
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    /*font-family: 'Oxanium', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    z-index: 20;

    /*margin-bottom: -70px;*/
}
.nav__ul{
    min-width: 600px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    height: inherit;
}
.nav__li{
    list-style: none;
    height: inherit;
}
.nav__img{
    height: 80px;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.nav__img:hover{
    height: 80px;
    transform: scale(1.1);
    transition: transform 0.5s ease 0s;
}


.nav__a{
    text-decoration: none;
    color: white;
    background-color: rgba(70, 70, 70, 0.0);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.5s ease 0s;

    height: inherit;
}
.nav__a:hover{
    color: white;
    background-color: rgba(70, 70, 70, 0.8);
    /* property   duration   timing-function   delay*/
    transition: background-color 0.5s ease 0s;
    /*   keyframe-name time  mode*/
    transform: scale(1.2);
    animation: mykey 0.3s ease;
}
@keyframes mykey{
    0% {transform: scale(1);}
    40%{transform: scale(0.95);}
    100%{transform: scale(1.2);}
}

.header{
    background-color: rgba(0, 0, 0, 0.75);
    height: 600px;
    overflow: hidden;
    margin-top: -70px;
    position: relative;
    border-bottom: 10px solid rgba(0, 139, 139, 0.849);
}
.header__figure{
    margin: 0;
    position: absolute;
    z-index: -10;
    width: 100%;    
}
.header__img{
    width: inherit;
    mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.header__hero{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /*background-color: rgba(155, 25, 30, 0.5);*/
}

.container{
    /*width: 1000px;*/
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero__h1{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.hero__p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.hero__strong{
    color: #00c0c0d8;
    transition: color 0.3s ease 0s;
    
}
.hero__strong:hover{
    color: #00d8d8;
    transition: color 0.3s ease 0s;
}

.hero__button{
    background-color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    border:1px solid white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.hero__button:hover{
    background-color: rgba(0, 139, 139, 0.849);
    transform: scale(1.1);
    transition: transform 0.3s ease 0s;
}

/*--------------------------------------------------------------*/

.portfolio{
    width: 100%;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.portfolio__area{
    margin-left: 50px;
    margin-right: 50px;
}

.portfolio__h2{
    color: #008b8b;
}

.project{
    background-color: #fafafa;
    min-height: 400px;
    margin-top: 30px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    /*background-color: #f0f0f0;*/
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.2);
}
.project__details{
    width: 50%;
    margin: 30px 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.project__description{
    text-align: justify;
}
.project__link{
    text-decoration: none;
    color: #007979;
    border: 1px solid #0079792d;
    font-weight: 500;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.5s ease 0s;
}
.project__link:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease 0s;
    color: white;
    border-radius: 5px;
    background-color: #007979;
}

.project__photo{
    width: 50%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__figure{
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
}
.project__img{
    object-fit: cover;
    min-height: 400px;
    width: 100%;
    height: auto;
    position: relative;
    /*border-radius: 20px;*/
    z-index: 0;
}

.project__figcaption{
    position: relative;
    font-size: 13px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    top: -200px;
    margin-bottom: -200px;
    color: #c7c7c7;
    box-sizing: border-box;
    height: 200px;
    padding-left: 20px;
    padding-bottom: 50px;/*
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    */
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

/* -----------------------------------------------------------------------------*/

.about-me{
    background-color: #007979;
    width: 100%;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: skewY(1.5deg);
    border-radius: 10px;
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.2);
}

.about-me__area{
    /*margin-left: 50px;
    margin-right: 50px;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: skewY(-1.5deg);
    border: 2px solid rgba(255, 255, 255, 0.171);
    padding: 60px 10px;
}
.about-me__description{
    width: 700px;
    text-align: justify;
}
.about-me__figure{
    /*background: linear-gradient(90deg, rgba(189,0,0,1) 0%, rgba(204,116,72,1) 47%, rgba(0,121,121,1) 100%);
    */
    min-height: 300px;
    width: 300px;
    
}
.about-me__img{
    min-width: 300px;
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-left-width: 5px ;
    border-left-style: solid;
    border-bottom: 5px solid white;
}


/* ---------------------------------------------------------------------------------------------------------*/


.studies{
    color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
}


.studies__area{
    margin-left: 50px;
    margin-right: 50px;
}
.studies__description{
    width: 100%;
    font-size: 18px;
}

.studies__container{
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card1{
    background-color: #fafafa;
    width: 300px;
    height: 330px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;
    transform: scale(1);
    transition: transform 0.3s ease 0s;
}
.card1:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease 0s;
}

.card1__figure{
    height: 130px;
    position: relative;
    overflow: hidden;
    
}
.card1__figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}
.card1__h5{
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 130px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 2px #000000, 3px 3px 2px #000000, 4px 4px 2px #000000,-3px -3px 4px #000000 ;
    /*text-shadow: 0 0 3px #000000, 0 0 5px #000000;*/
    box-sizing: border-box;
}
.card1__img{
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: 10;
    object-position: center;
    transform: translatey(-25%);
}

.card1__details{
    width: 300px;
    height: 200px;
    padding: 10px 10px 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.card1__title{
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}

.card1__description{
    font-size: 12px;
    margin: 3px 15px;
}

/*------------------------------------------------------------------------*/

.contact-me{
    background-color: #007979;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: skewY(-1.5deg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10;
    /*box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, 0.2);*/
}
.contact-me__area{
    transform: skewY(1.5deg);
}
.contact-me__social-media-list{
    display: flex;
    justify-content: center;
}
.contact-me__social-media{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.contact-me__net-icon{
    height: 30px;
    margin-right: 10px;
    filter: invert(0.1) sepia(1) hue-rotate(180deg) saturate(100%);
}
.contact-me__info{
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
.contact-me__info:hover{
    /*color: rgb(255, 0, 0);*/
    color: white;
    text-decoration: underline ;
}

/********************************************************************************/

.footer{
    background-color: #007979;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    margin-top: -60px;
    padding-top: 100px;
    padding-bottom: 20px;

}
.footer__area{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.footer_p{
    font-family: 'Work Sans', sans-serif;
}









/*
transform: skewY(20deg):
*/


/*
colores usados:
rgba(0, 192, 192, 0.849)
rgba(0, 139, 139, 0.849)
*/